<form
  class="example-form"
  [formGroup]="searchForm"
  (ngSubmit)="onSubmit()"
  style="padding: 16px"
>
  <mat-form-field class="example-full-width">
    <mat-label>Search in Library</mat-label>
    <input
      matInput
      placeholder="Ex. RS Agarwal"
      formControlName="searchInput"
    />
  </mat-form-field>
  <button type="submit" [disabled]="!searchForm.valid" class="btn_submit">
    <mat-icon class="search_icon">search</mat-icon>
  </button>
</form>

<div class="container">
  <div fxLayout="row wrap" fxLayoutGap="16px grid">
    <div
      fxFlex="50%"
      fxFlex.xs="100%"
      fxFlex.sm="100%"
      *ngFor="let card of result; trackBy: trackByBookId"
      class="card-container"
    >
      <angular-app-book
        *ngIf="showCards"
        [bookObj]="card"
        [transForm]="120"
        (bookClick)="showDetails($event)"
      ></angular-app-book>
    </div>
  </div>
</div>
