<div class="container" *ngIf="cartItems.length > 0">
  <div fxLayout="row wrap" fxLayoutGap="16px grid">
    <div
      fxFlex="100%"
      fxFlex.xs="100%"
      fxFlex.sm="100%"
      *ngFor="let card of cartItems; trackBy: trackByBookId"
      class="card-container"
    >
      <mat-card class="main-card">
        <mat-card-header>
          <mat-card-title>{{ card?.volumeInfo?.title }}</mat-card-title>
          <mat-card-subtitle>{{
            card?.volumeInfo?.subtitle
          }}</mat-card-subtitle>
          <img
            mat-card-sm-image
            class="card_image"
            src="{{ card?.volumeInfo?.imageLinks?.smallThumbnail }}"
            alt=""
          />
        </mat-card-header>
        <mat-card-content>
          <p style="padding-top: 10px">
            {{ transformDesc(card?.volumeInfo?.description) }}
          </p>
        </mat-card-content>
        <mat-card-footer>
          <label
            style="margin-bottom: 0.25rem; font-weight: 500; font-size: 13px"
            >Written By:</label
          >
          <p style="font-size: 13px">{{ card?.volumeInfo?.authors[0] }}</p>
          <mat-icon
            [color]="primary"
            style="float: right"
            (click)="deleteCartItem(card)"
            >remove_shopping_cart</mat-icon
          >
        </mat-card-footer>
      </mat-card>
    </div>
  </div>
  <div class="btn_div">
    <button mat-raised-button color="primary" (click)="navigateToBuy()">
      Proceed to purchase
    </button>
  </div>
</div>
<div class="cart_overlay" *ngIf="cartItems.length === 0">
  <h2>Your Books Cart in Empty</h2>
</div>
